@tailwind base;
@tailwind components;
@tailwind utilities;
img {
  @apply h-full;
}
input,
textarea,
select {
  @apply border mb-2 border-gray-300 rounded-sm px-1 w-full py-2;
}
input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}
h1 {
  @apply text-blue-900 mb-2 text-xl font-semibold;
}
label {
  @apply text-blue-900 font-medium;
}
.btn-primary {
  @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full mt-2 bg-white shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
  @apply border-b p-3 text-lg font-bold border-blue-200 text-black;
}
table.basic thead tr td,
table.basic thead tr th {
  @apply bg-gray-200;
}
table.basic tr td {
  @apply border border-blue-200 p-1 text-black;
}
table.basic a {
  @apply inline-flex mx-1 items-center py-1 px-4 rounded-md;
}
.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md;
}
.btn-red {
  @apply bg-red-300 text-red-800 rounded-md shadow-md;
}

.btn-default {
  @apply bg-gray-200 text-gray-800 border-gray-300 rounded-md shadow-md px-4;
}
